{% extends 'base.html.twig' %}

{% block title %}Tu perfil{% endblock %}

{% block body %}
    {{ include('components/navbar.html.twig') }}
    <div class="main-div">
        <h1 class="titulo">TU PERFIL</h1>

        <p class="nombre">Nombre: {{ usuario.nombre}} </p>

        <p class="email">Email: {{ usuario.email }}</p>

        {% if usuario.idDireccion is null %}
        <a href="">Asignar dirección</a>
            {% else %}
                <p class="direccion">Dirección: {{ usuario.idDireccion.calle }} {{ usuario.idDireccion.numero }} {{ usuario.idDireccion.piso }} {{ usuario.idDireccion.codigoPostal }} {{ usuario.idDireccion.ciudad }}</p>
        {% endif %}

        <h5>Pedidos Realizados</h5>
        {% for pedido in pedidos %}
            <li style="list-style-type: none"><a href="{{ path('app_pedido', {id: pedido.id}) }}">Pedido número #{{ pedido.id }}</a></li>
        {% endfor %}

    </div>
{% endblock %}

{% block stylesheets %}

    <style>
        .main-div {
            margin-left: 100px;
            margin-top: 100px;
            text-align: center;
        }
    </style>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
