{% extends 'base.html.twig' %}
	{% block title %}
		Inicio
	{% endblock %}
	{% block body %}
		{% include 'components/navbar.html.twig' %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Supel-Discos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tu página de confianza para devolver a la vida la música en formato físico</p>
                </div>
            </div>
        </header>
        <!-- Section-->

        <h1 class="text-center text-light mt-3">Los productos más vendidos</h1>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for producto in productos %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <a href="{{ path('app_productos', {id: producto.id }) }}"><img class="card-img-top" src="{{ asset('musica/'~producto.artista~' - '~producto.nombre~' ['~producto.anoSalida~']/cover.jpg') }}" alt="Portada del álbum {{ producto.nombre }}"/></a>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill">★</div>
                                            <div class="bi-star-fill">★</div>
                                            <div class="bi-star-fill">★</div>
                                            <div class="bi-star-fill">★</div>
                                            <div class="bi-star-fill">★</div>
                                        </div>
                                        <!-- Product price-->
                                        <span class="text-decoration-line-through text-danger">{{ producto.precio * 1.5 }}€</span>
                                        {{ producto.precio }}€
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <form action={{ path('add_carrito', {id: producto.id}) }}>
                                            <input class="btn btn-outline-dark mt-auto" type="submit" value="Añadir al carrito">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
		{% include 'components/footer.html.twig' %}
	{% endblock %}
	{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	{% endblock %}



{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ asset('styles/homepage.css') }}">
{% endblock %}
