{% extends 'base.html.twig' %}

{% block title %}Todos los productos{% endblock %}

{% block body %}
        {{ include('components/navbar.html.twig') }}
        <h1>{{ producto.nombre }}</h1>
        <h2>{{ producto.artista }}</h2>
        <h6>{{ producto.anoSalida }}</h6>
        <h4>{{ producto.precio }}€</h4>
{% endblock %}
