{% extends 'base.html.twig' %}

{% block title %}{{ producto.nombre }} - {{ producto.artista }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/producto.css') }}">
{% endblock %}


{% block body %}
    {% include('components/navbar.html.twig') %}

    <section class="py-5 text-light">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{ asset('musica/'~producto.artista~' - '~producto.nombre~' ['~producto.anoSalida~']/cover.jpg') }}" alt="..." />
                    <audio class="text-center" src="{{ asset('musica/'~producto.artista~' - '~producto.nombre~' ['~producto.anoSalida~']/test.mp3') }}" controls>sfkdslfjksd</audio>
                </div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ producto.nombre }} ({{ producto.anoSalida }})</h1>
                    <h3><a href="{{ path('prod_por_artista', {id:artista.id}) }}">{{ producto.artista }}</a></h3>
                    <div class="fs-5 mb-5">
                        <span>{{ producto.precio }}€</span>
                    </div>
                    {% if artista.descripcion is not null %}
                        <p>{{ artista.descripcion }}</p>
                    {% endif %}
                    <p>Formato: {{ producto.formato }}</p></a>
                    <div class="d-flex">
                        <form action={{ path('add_carrito', {id: producto.id}) }}>
                            <input class="btn btn-dark flex-shrink-0" type="submit" value="Añadir al carrito">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Otros productos</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for producto in productos_recomendados %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                           <a  href="{{ path('app_productos', {id: producto.id }) }}"><img class="card-img-top" href="{{ path('app_productos', {id: producto.id }) }}" src="{{ asset('musica/'~producto.artista~' - '~producto.nombre~' ['~producto.anoSalida~']/cover.jpg') }}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    {{ producto.precio }}€
                                </div>
                            </div>
                            <!-- Product actions-->
{#                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">#}
{#                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>#}
{#                            </div>#}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
