{% extends 'base.html.twig' %}

{% block title %}{{ producto.nombre }} - {{ producto.artista }}{% endblock %}

{% block body %}
        {{ include('components/navbar.html.twig') }}
        <h1>Nombre del álbum: {{ producto.nombre }}</h1>
        <h2>Artista: {{ producto.artista }}</h2>
        <h6>Año de lanzamiento: {{ producto.anoSalida }}</h6>
        <h4>Precio: {{ producto.precio }}€</h4>
        <h5>Disponible en: {{ producto.formato }}</h5>
        <h6>País de lanzamiento: {{ producto.pais }}</h6>

    <form action={{ path('add_carrito', {id: producto.id}) }}>
        <input type="submit" value="Añadir al carrito">
    </form>

{% endblock %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
