{% extends 'base.html.twig' %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                Supel-Discos
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mostrar_todos_productos') }}">todos los productos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        formatos
                    </a>
                    <ul class="dropdown-menu">
                        {% for formato in formatos %}
                            <li><a class="dropdown-item" href="{{ path('prod_por_formato', {id: formato.id}) }}">{{ formato.tipo }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        opciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_carrito') }}">ver carrito</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block stylesheets %}

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Pacifico &family=Rubik&display=swap');:root {
            --bgcolorNav: #141414;
            --bgcolorBody: #2d2d2d;
            --font_main: "Rubik", sans-serif;
            --font_titulo: "Pacifico", sans-serif;
        }

        .navbar-brand {
            font-family: var(--font_titulo);
            font-size: 32px !important;
        }

        .nav-item {

            font-size: 26px !important;

        }

        .navbar {
            padding: 2rem;
            background-color: var(--bgcolorNav);
        }

        body {
            font-family: var(--font_main) !important;
            background-color: var(--bgcolorBody) !important;
            color:white;
        }

        .navbar-collapse {
            align-items: center;
            justify-content: space-between;
        }

        /* Responsive */

        @media screen and(max-width: 767px) {
            .navbar-brand {
                display: none;
            }
        }
    </style>

{% endblock %}